{% extends 'base.twig' %}

{% block content %}

<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ path_for('home') }}">Practice Problem</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ path_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ path_for('tag') }}">Problems by tags</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav navbar-right">
             {% if username == '0' %}
                <a class="nav-item nav-link" href="{{ base_url() }}/login">Login</a>
                <a class="nav-item nav-link" href="{{ base_url() }}/register">Register</a>
              {% else %}
                <a class="nav-item nav-link" href="#">{{ username }}</a>
                <form id="myform" method="post" action="{{ path_for('logout') }}"></form>

                <a class="nav-item nav-link" onclick="document.getElementById('myform').submit();">Logout</a>
              {% endif %}   
                  
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-body">
	<div class="col=md-8">
	<div id="sort_buttons" class="div-wrapper" >
    <div class="sort-box selectionOff" style="float:left;">
        <a id="author_filter" class="sort-box-inner" style="padding-right: 10px;" state="none" href = "{{ path_for('tag') }}">
            All-tags
        </a>
    </div>    
  </div>
	<h1>Problems for {{ tag }}</h1>
	<br> 
	{% for ques in tag_q %}
		<div class="problem-tagbox-inner" id="{{ ques[2] }}">
        <div class="problem-tagbox-headtext"><a class = "clr" href="https://www.codechef.com//problems/{{ ques[2] }}">{{ ques[2] }}</a></div>
        <div class="problem-tagbox-head-inner">
        {% for t in user_tags %}
        	{% if ques[2]== t[2] %}
            <div class="problem-tagbox-statusbox">{{ t[3] }}</div>
        	{% endif %}
        {% endfor %}
        </div>		
        <div class="problem-tagbox-bottom" id="{{ ques[2] }}">
        {% if username!='0' %}
        	<form method = "post" action ="{{ path_for('newtag') }}">
        	<input type = "text" name = "tag_name"/>
        	<input type = "hidden" name = "user" value="{{ username }}"/>
        	<input type = "hidden" name = "url" value="{{ tag }}"/>
        	<input type = "hidden" name = "qcode" value="{{ ques[2] }}"/>
        	<button type  "submit">add</button>
        	</form>
        {% endif %}	     	
    	</div>
    	</div>


	{% endfor %}
{% if username != '0' %}	
	{% for ques in userq %}
		{% set ok = 0 %}
		{% for k in tag_q %}
			{% if k[2] == ques[2] %}
				{% set ok =1 %}
			{% endif %}	
		{% endfor %}
		
	{% if ok == 0 %}		
		<div class="problem-tagbox-inner" id="{{ ques[2] }}">
        <div class="problem-tagbox-headtext"><a class = "clr" href="https://www.codechef.com//problems/{{ ques[2] }}">{{ ques[2] }}</a></div>
        <div class="problem-tagbox-head-inner">
        {% for t in user_tags %}
        	{% if ques[2]== t[2] %}
            <div class="problem-tagbox-statusbox">{{ t[3] }}</div>
        	{% endif %}
        {% endfor %}
        </div>		
        <div class="problem-tagbox-bottom" id="{{ ques[2] }}">
        {% if username!='0' %}
        	<form method = "post" action ="{{ path_for('newtag') }}">
        	<input type = "text" name = "tag_name"/>
        	<input type = "hidden" name = "user" value="{{ username }}"/>
        	<input type = "hidden" name = "url" value="{{ tag }}"/>
        	<input type = "hidden" name = "qcode" value="{{ ques[2] }}"/>
        	<button type  "submit">add</button>
        	</form>
        {% endif %}	     	
    	</div>
    	</div>
      {% endif %}		
    {% endfor %}	
{% endif %}
 
	</div>
{% endblock content %}
